.vscode

Data
Exps
Plot
Script
backup_exp_log.sh

Lib/test*

Attacker/Liu_attack.py
Attacker/robust_attack.py
Attacker/Xiang_attack.py

requirements.txt
Model/DGCNN.py
Pretrained/DGCNN

SurfaceAttack
Provider/modelnet10_instance250_mesh.py
Attacker/geoA3_mesh_attack.py
eval_from_pc_file.py


# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# personal settings
.vscode

# Data
Data/*

.idea/*
**/*.so
**/__pycache__/git *
**/__pycache__/*
*.out
out
**/*.ply

**/*.yml

*.mat

.history
